html,*,::before,::after{
    box-sizing:border-box;
}

body{
    font-family: Gotham;
    line-height: 1.5rem;
    white-space: normal;
    width: 100%;
    margin:0;
    padding:0;
    background: #f3f3f3;
    color:#110c0e;
    -webkit-user-select: none;  /* Chrome all / Safari all */
     -moz-user-select: none;     /* Firefox all */
     -ms-user-select: none;      /* IE 10+ */
     user-select: none;
}

.opacity_one{
    opacity: 1!important;
}

.modal_overlay_visible.modal_overlay{

opacity: 1;}
.modal_overlay{
    
}
div#primary_page_controller_wrapper {
    min-height: 100vh;
}
p, h1, h2, h3, h4, h5, h6, span, b, strong, i, em{
    -webkit-user-select: auto;  /* Chrome all / Safari all */
     -moz-user-select: auto;     /* Firefox all */
     -ms-user-select: auto;      /* IE 10+ */
     user-select: auto;
     margin:0;
     padding:0;
}

::-webkit-input-placeholder {
  color: #babbbf ;
  font-family: Gotham;
   -webkit-transition: opacity 0.2s;   -moz-transition: opacity 0.2s;   -ms-transition: opacity 0.2s;   transition: opacity 0.2s;
}

:-moz-placeholder { /* Firefox 18- */
  color: #babbbf ;  
 font-family: Gotham;
   -webkit-transition: opacity 0.2s;   -moz-transition: opacity 0.2s;   -ms-transition: opacity 0.2s;   transition: opacity 0.2s;   
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #babbbf ;  
 font-family: Gotham;
   -webkit-transition: opacity 0.2s;   -moz-transition: opacity 0.2s;   -ms-transition: opacity 0.2s;   transition: opacity 0.2s;  
}

:-ms-input-placeholder {  
  color: #babbbf ;
 font-family: Gotham;
   -webkit-transition: opacity 0.2s;   -moz-transition: opacity 0.2s;   -ms-transition: opacity 0.2s;   transition: opacity 0.2s;     
}

ul {
   margin: 0;
   padding: 0;
   list-style: none;
 }

ul.horizontal_list{
    font-size: 0;
}

ul.horizontal_list li {
   display: inline-block;
   position: relative;
   vertical-align: top;
   text-align: justify;
}

ul#promotional_top_ticker {}

.promotional_banner.ticker.hide_promo_banner {
    display: none;
}

div#primary_page_controller_wrapper.hold_body_controller {
    margin-top: 0!important;
}

.global_header.unfixed.no_promo_above {
    margin-top: 0!important;
}

input{
    font-family: Gotham;
    -webkit-appearance:none!important;
}

input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder{
   opacity:.4;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder{
   opacity:.4;
}

input:focus:-moz-placeholder, textarea:focus:-moz-placeholder{
   opacity:.4;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder{
   opacity:.4;
}

.promotional_banner{
    width: 100%;
    text-align: center;
    position: relative;
    top:0;
    z-index: 1001;
    background:#110c0e;
    color:#FFF;
    font-size: 11px;
    right: 0;
    font-family: Gotham;
    left: 0;
    font-weight: 200;
    letter-spacing: 1.5px;
}

.promotional_banner.ticker.fixed_promo_banner {
    position: fixed;
}

.promotional_banner p{
    -webkit-user-select: none;/* Chrome all / Safari all */
    -moz-user-select: none;/* Firefox all */
    -ms-user-select: none;/* IE 10+ */
    width: 75%;
    user-select: none;
    text-transform: uppercase;
    line-height: 16px;
    margin: 0 auto;
}

.promotional_banner .callout{
    overflow:hidden;
    height: auto;
    padding: 10px 0;
    display: block;
}

#promotional_top_ticker{
    margin:0;
}
li.slick-slide{
    height:auto;
}
.slick-slider .slick-track, .slick-slider .slick-list{
    height:auto!important;
}
.slick-slider{
    padding:0;
}

button.slick-prev {
    font-size: 0;
    background-image: url(../assets/img/left_arrow.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 9px;=:0;
}

button.slick-next {
    background-image: url(../assets/img/right_arrow.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 9px;
    font-size: 0;
}

button.slick-prev:before, button.slick-next:before{content:none;}

{}

.global_header {
    background-color: #FFFFFF;
    height: auto;
    box-shadow: 0 1px 1px rgba(179, 179, 179, 0.22);
    z-index: 1000;
    position: relative;
    left:0;
    right:0;
}

.global_header.unfixed {
    position: relative!important;
    margin-top: 33px;
}

.logo_wrapper {
    width: 165px;
    margin: 0 auto;
}

.logo_wrapper img {
    width: 100%;
}

.header_row {}

.left {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

.right {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

.global_header .header_row:first-child {
    height: 32px;
    z-index: 1000;
}

.global_header .header_row:nth-child(2) {
    margin-top: -10px;
    margin-bottom: 0;
}

ul.horizontal_list li a,ul.horizontal_list li p {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .7px;
    text-align: center;
}

.global_header .header_row {
    max-width: 1280px;
    width: 97%;
    margin: 0 auto;
    position: relative;
}

.global_header .header_row.header_nav_link_row li a {
    font-weight: 600;
    padding: 0 15px;
    text-decoration: none;
    color: #110c0e;
    padding-top: 4px;
}

.global_header .header_row.header_nav_link_row li {
}

.search_container input[type="text"] {
    background: #f3f3f3;
    box-shadow: none;
    border: 0;
    width: 100%;
    outline: 0;
    font-weight: 300;
    padding: 8px 14px 5px;
    font-size: 13px;
    border-radius: 4px;
}

.search_container {
    width: 100%;
    position: relative;
}

a#show_shopping_bag_dropdown,.header_link {
    text-decoration: none!important;
    color: #110c0e!important;
}

li.search_header_wrapper {}

.global_header .header_row.header_nav_link_row li.search_header_wrapper {
top: -3px;}

.search_container input[type="submit"] {
    background: #548860;
    position: absolute;
    border: 0;
    border-radius: 0 3px 3px 0;
    right: 0;
    top: 0;
    width: 42px;
    bottom: 2px;
    -webkit-box-shadow: 0px 0px 4px rgba(150,150,150,0.3),0px 2px 2px rgba(255, 255, 255, 0.15) inset,0px -3px 1px rgba(0, 0, 0, 0.07) inset;
    -moz-box-shadow: 0px 0px 4px rgba(150,150,150,0.3),0px 2px 2px rgba(255, 255, 255, 0.15) inset,0px -3px 1px rgba(0, 0, 0, 0.07) inset;
    box-shadow: 0px 0px 4px rgba(150,150,150,0.3),0px 2px 2px rgba(255, 255, 255, 0.15) inset,0px -3px 1px rgba(0, 0, 0, 0.07) inset;
}
.global_header .header_row:first-child li:last-child {
    padding-right: 0;
}
icon.search_icon {
    background-image: url(../assets/img/search_icon.png);
    width: 15px;
    height: 15px;
    background-size: 100%;
    display: inline-block;
    position: absolute;
    top: 8px;
    right: 13px;
}

.header_row li.desktop_nav_link_special a{
    padding-left: 0!important;
    text-align: left;
}

.home_hero {
    height: 
    
    -moz-calc(100vh - 157px);
    height: 
    
    -webkit-calc(100vh - 157px);
    height: calc(100vh - 157px);
    width: 100%;
    position: relative;
    overflow: auto;
}

.hero_third {
    display: inline-block;
    height: 100%;
    position: relative;
    float: left;
    vertical-align: top;
}

.hero_third.hero_third_left {
    background-image: url(../assets/img/home_hero_left.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.hero_third.hero_third_right,.hero_third.hero_third_left {
    width: 32%;
    display: inline-block;
    z-index: 10;
}

.hero_third.call_to_action_third {
    width: 36%;
    background-color: #FFF;
    text-align: center;
}

.rounded_line {
    position: absolute;
    background: #110c0e;
    border-radius: 36px;
    height: 4px;
    min-width: 100px;
}

.hero_left.hero_third.call_to_action_third {}

.hero_third_right {
    background-image: url(../assets/img/home_hero_right.png);
    background-size: cover;
}

.top_left_rounded_line.rounded_line {
    top: 10%;
    width: 45%;
    left: -10px;
}

.central_hero_title {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.central_hero_title h1 {
    font-size: 31px;
    line-height: 87px;
    font-weight: 600;
    letter-spacing: .9px;
}

.central_hero_title h1 span {
    letter-spacing: 2.5px;
    font-size: 50px;
    font-weight: 300;
    display: block;
    line-height: 43px;
}

.mercury {
    font-family: Mercury;
}

.central_hero_title .rounded_line {
    width: 40%;
    margin: 0 auto;
    position: relative;
    margin-top: 18px;
}

.rounded_line.central_rounded_line {}

.bottom_right_rounded_line.rounded_line {
    top: 86%;
    width: 45%;
    right: -10px;
}

.central_hero_title a.main_call_to_action_btn {
    background: #548860;
    padding: 11px 20px 8px;
    display: block;
    width: 231px;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 35px;
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 4px rgba(150,150,150,0.3),0px 2px 2px rgba(255, 255, 255, 0.15) inset,0px -3px 1px rgba(0, 0, 0, 0.07) inset;
    -moz-box-shadow: 0px 0px 4px rgba(150,150,150,0.3),0px 2px 2px rgba(255, 255, 255, 0.15) inset,0px -3px 1px rgba(0, 0, 0, 0.07) inset;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.44),0px 2px 2px rgba(255, 255, 255, 0.15) inset,0px -3px 1px rgba(0, 0, 0, 0.07) inset;
    border-top: 1px solid rgba(255, 255, 255, 0.18);
    border-bottom: 2px solid rgba(0, 0, 0, 0.09);
    -webkit-transition: all 100ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -moz-transition: all 100ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -ms-transition: all 100ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -o-transition: all 100ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    transition: all 100ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    color: #FFF;
}

.central_hero_title a.main_call_to_action_btn p {
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-size: 14px;
    font-weight: 500;
}

.central_hero_title p.mercury {
    margin-top: 17px;
    font-size: 13px;
    letter-spacing: 1px;
    color: #babbbf;
    width: 225px;
    margin-left: auto;
    font-weight: 200;
    line-height: 19px;
    margin-right: auto;
}

.central_hero_title a.main_call_to_action_btn:hover {
    background: #5A9667;
}

.global_header .header_row:first-child li p,.global_header .header_row:first-child li a {
    font-weight: 600;
    font-size: 11px;
    display: inline-block;
}

.global_header .header_row:first-child li {
    padding: 0 12px;
    padding-top: 6px;
}

.global_header .header_row:first-child li:first-child {
    padding-left: 0;
}

.global_header .header_row.header_nav_link_row li a.header_link_special {
    color: #52895e;
}

.global_header .header_row:first-child .left li:first-child p {
    color: #babbbf;
}

a.header_link icon {
    background-image: url(../assets/img/black_down_arrow.png);
    width: 11px;
    background-size: 100%;
    height: 9px;
    display: inline-block;
    background-repeat: no-repeat;
    position: relative;
    top: 2px;
}

a.favorites_link icon {
    background-image: url(../assets/img/favorite_icon.png);
    width: 18px;
    height: 14px;
    background-size: 100%;
    display: block;
    margin-top: 4px;
    background-repeat: no-repeat;
}

.central_hero_title a.main_call_to_action_btn:active {
    background-color: #436F4D;
    -webkit-box-shadow: 0px 0px 0px rgba(150,150,150,0.3),0px -2px 2px rgba(255, 255, 255, 0.15) inset,0px 3px 1px rgba(0, 0, 0, 0.07) inset;
    -moz-box-shadow: 0px 0px 4px rgba(150,150,150,0.3),0px 2px 2px rgba(255, 255, 255, 0.15) inset,0px -3px 1px rgba(0, 0, 0, 0.07) inset;
    box-shadow: 0px 0px -4px rgba(150,150,150,0.3),0px -2px 2px rgba(255, 255, 255, 0.15) inset,0px 3px 1px rgba(0, 0, 0, 0.07) inset;
    border-top: 1px solid rgba(0, 0, 0, 0.09);
    border-bottom: 2px solid rgba(255, 255, 255, 0.18);
    color: rgba(255, 255, 255, 0.66);
}

ul.horizontal_list li a {
    cursor: pointer;
    display: block;
}

li {}

.background_image_logo {}

.collections_tabs {
    margin-top: 85px;
    position: relative;
}

.home_collections {
    max-width: 1280px;
    width: 97%;
    margin: 0 auto;
    position: relative;
}

.collections_tabs .horizontal_line {
    width: 65%;
    height: 1px;
    background-color: #110c0e;
    max-width: 800px;
    margin: 0 auto;
}

.collections_tabs .tabs_wrapper {
    width: 400px;
    left: 50%;
    position: absolute;
    background-color: #FFFFFF;
    margin-left: -200px;
    overflow: auto;
    top: -26px;
    border: 1px solid #110c0e;
}

.collections_tabs .tabs_wrapper .collections_tab {
    width: 50%;
    display: inline-block;
    padding: 14px 4px;
    cursor: pointer;
    float: left;
}

.collections_tabs .tabs_wrapper .collections_tab p {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    letter-spacing: .9px;
}

.collections_tabs .tabs_wrapper .collections_tab.active_collections_tab {
    background-color: #110c0e;
    color: #FFFFFF;
    cursor: default;
}

.collections_boxes_wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
}

.tall_boxes_row {
    height: 242px;
}

.short_boxes_row {
    height: 164px;
}

.collections_boxes > div > a > div.collections_box {
    display: inline-block;
    float: left;
    text-align: center;
    position: relative;
    height: 100%;
    cursor: pointer;
}

.collections_box.collections_box_25 {
    width: 25%;
}

.collections_box.collections_box_50 {
    width: 50%;
}

.collections_box.collections_box_35 {
    width: 35%;
}

.collections_box.collections_box_30 {
    width: 30%;
}

.img_overflow {
    overflow: hidden;
}

.collections_box .collections_box_image_wrapper img {
    display: none;
}

.collections_box .collections_box_image_wrapper {
    background-size: cover;
    position: absolute;
    left: 2px;
    top: 2px;
    right: 2px;
    bottom: 2px;
}

.shop_now_box {
    width: 180px;
    position: Absolute;
    bottom: 2px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    left: 50%;
    margin-left: -90px;
    -webkit-transition: all 250ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -moz-transition: all 250ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -ms-transition: all 250ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -o-transition: all 250ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    transition: all 250ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
}

.item_in_photo_details {
    position: absolute;
    top: 12px;
    opacity: 0;
    left: 10px;
    -webkit-transition: all 250ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -moz-transition: all 250ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -ms-transition: all 250ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -o-transition: all 250ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    transition: all 250ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
}

.item_in_photo_details > p {
    font-size: 12.5px;
    letter-spacing: .3px;
    color: #FFF;
    line-height: 17px;
    text-align: left;
}

.shop_now_box h2 {
    color: #110c0e;
    font-size: 12.5px;
    letter-spacing: 1.4px;
    font-weight: 600;
    padding-top: 11px;
    padding-bottom: 6px;
    text-transform: uppercase;
}

.shop_now_box > span {
    height: 1px;
    width: 70%;
    background-color: #110c0e;
    margin: 0 auto;
    display: block;
    opacity: 0;
    -webkit-transition: all 250ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -moz-transition: all 250ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -ms-transition: all 250ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -o-transition: all 250ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    transition: all 250ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
}

.shop_now_box > p {
    opacity: 0;
    font-size: 13px;
    padding-top: 5px;
    font-weight: 600;
    letter-spacing: .4px;
    color: #52895e;
    -webkit-transition: all 250ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -moz-transition: all 250ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -ms-transition: all 250ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -o-transition: all 250ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    transition: all 250ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
}

.global_header .header_row.header_nav_link_row li {
    display: table-cell;
}

.global_header .header_row.header_nav_link_row ul {
    display: table;
    width: 100%;
}

.global_header .header_row.header_nav_link_row li:first-child a {
    text-align: left;
    padding-left: 0;
}

.collections_box:hover .shop_now_box {
    height: 72px;
}

.collections_box:hover div.shop_now_box p {
    opacity: 1;
}

.collections_box:hover span.horizontal_separator {
    opacity: 1;
}

.collections_box:hover .item_in_photo_details {
    opacity: 1;
}

.image_overlay_box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    bottom: 0;
}

.dark_image_overlay_box.image_overlay_box {
    background-color: rgba(0, 0, 0, 0.5);
}

.collections_box .image_overlay_box {
    opacity: 0;
    -webkit-transition: all 250ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -moz-transition: all 250ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -ms-transition: all 250ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -o-transition: all 250ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    transition: all 250ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
}

.collections_box:hover .image_overlay_box {
    opacity: 1;
}

.shop_now_box:hover p {
    color: #80D592;
}

.shop_now_box:hover {
    background-color: #FFFFFF;
}

.home_content_wrapper {
    max-width: 1280px;
    overflow: auto;
    width: 97%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 32px;
}

.home_content_wrapper > .width_50 {
    width: 50%;
    padding-bottom: 36px;
    display: inline-block;
    float: left;
}

.home_content_wrapper > .width_50 h2 {
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: 400;
}

.home_content_wrapper > .vertical_separator {
    left: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    background-color: #babbbf;
    width: 1px;
}

.home_content_wrapper .diamond_varieties_image_wrapper {
    background-size: contain;
    position: absolute;
    left: 0;=:10px;
    top: 20px;
    right: 0;
    background-repeat: no-repeat;
    bottom: 50px;
    background-position: center center;
}

.home_content_wrapper .diamond_varieties_image_wrapper img {
    display: none;
}

.home_content_wrapper .diamond_search_link_wrapper {
    width: 100%;
    position: relative;
    height: 560px;
    background-color: #FFF;
    margin-top: 24px;
    box-shadow: 1px 1px 1px rgba(179, 179, 179, 0.15),-1px -1px 1px rgba(179, 179, 179, 0.15);
    padding-top: 20px;
    border-radius: 2px;
    overflow: hidden;
}

.home_content_wrapper > .width_50:first-child {
    padding-right: 24px;
}

.home_content_wrapper > .width_50:last-child {
    padding-left: 24px;
}

.home_content_wrapper .diamond_search_color_block {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    right: 0;
    height: 48px;
    background-color: #548860;
}

.diamond_search_color_block p {
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    margin: 0 auto;
    letter-spacing: 1px;
    display: inline-block;
    padding-top: 13px;
}

icon {}

icon {}

.diamond_search_color_block p icon {
    position: relative;
    top: 3px;
    left: -2px;
    margin-left: 4px;
}

icon.search_icon.search_icon_flipped {}

.diamond_search_color_block p icon.search_icon_flipped {
    margin-right: 4px;
}

icon.big_green_quotation_marks {
    background-image: url(../assets/img/quote_icon.png);
    background-size: contain;
    width: 71px;
    height: 65px;
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
    background-repeat: no-repeat;
}

.our_picks_row {
    margin-top: 30px;
}

.our_picks_box {
    background-color: #FFF;
    box-shadow: 1px 1px 1px rgba(179, 179, 179, 0.15),-1px -1px 1px rgba(179, 179, 179, 0.15);
    margin-top: 24px;
    border-radius: 2px;
    text-align: center;
    height: 305px;
    position: relative;
}
li.show_on_mobile_1050.show_on_mobile {
    padding-left: 0!important;
}
ul.our_picks_slider {
    display: none;
    margin-bottom: 20px;
}

ul.our_picks_slider.active {
    display: block;
}

.our_picks_categories {
    display: none;
    position: absolute;
    background-color: #fff;
    border-radius: 2px;
    text-align: left;
    left: 50%;
    margin-left: -95px;
    padding-top: 4px;
    padding-bottom: 4px;
    top: 67px;
    font-size: 14px;
    letter-spacing: .4px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    width: 190px;
    z-index: 100;
    font-weight: 200;
    box-shadow: 1px 1px 1px rgba(179, 179, 179, 0.15),-1px -1px 1px rgba(179, 179, 179, 0.15);
}

.our_picks_box > h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 4px;
    padding-top: 35px;
    display: inline-block;
}

li.our_pick_item img {
    width: 155px;
    margin: 0 auto;
    margin-top: 20px;
}

.home_content_wrapper .agd_promises {
    margin-top: 23px;
}

.agd_promises .promise_statements {
    display: inline-block;
    width: calc(100% - 112px);
    padding-left: 14px;
    padding-top: 40px;
    font-weight: 200;
    letter-spacing: 2.7px;
    line-height: 46px;
}

.agd_promises .promise_statements h1 {
    font-size: 25px;
}

.our_picks_box a.change_our_picks_category {
    display: inline-block;
    color: #8b8b8b;
    text-transform: uppercase;
    font-size: 10px;
    cursor: pointer;
    letter-spacing: 1px;
}

li.our_pick_item a p {
    margin-top: 8px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .6px;
}

.our_picks_slider button.slick-prev {}

.our_picks_slider button.slick-next,.collections_slick_slider button.slick-next {
    background-image: url(../assets/img/right_arrow_black.png);
    width: 14px;
    height: 32px;
    margin-top: -16px;
}

.our_picks_slider button.slick-prev,.collections_slick_slider button.slick-prev {
    background-image: url(../assets/img/left_arrow_black.png);
    width: 14px;
    height: 32px;
    margin-top: -16px;
}

.home_content_wrapper a.mercury.browse_full_collection {
    font-size: 12px;
    border-bottom: 1px solid #8b8b8b;
    padding-bottom: 0px;
    letter-spacing: .33px;
    color: #8b8b8b;
    padding-top: 8px;
    cursor: pointer;
    display: inline-block;
}

.our_picks_categories h5 {
    font-weight: 400;
}


.our_picks_categories li:hover {
    background-color: #f3f3f3;
}
.our_picks_categories li {
    position: relative;
    padding: 0 10px;
    cursor: pointer;
    -webkit-transition: all 100ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -moz-transition: all 100ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -ms-transition: all 100ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -o-transition: all 100ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    transition: all 100ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
}

.modal_overlay{
    position: fixed;
    top:0;
    left:0;
    right:0;
    pointer-events:none;
    opacity: 0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    -webkit-transition: all 300ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -moz-transition: all 300ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -ms-transition: all 300ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -o-transition: all 300ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    transition: all 300ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
}

.our_picks_categories li p.right {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 500;
    color: #babbbf;
    right: 10px;
}

.footer_content_wrapper {
    max-width: 980px;
    width: 97%;
    margin: 0 auto;
    position: relative;
}
menu.mobile_menu_wrapper div.mobile_nav_menu_item:last-of-type {
    border-bottom: 0;
}

menu.mobile_menu_wrapper div.mobile_nav_menu_item:first-of-type {
    box-shadow: 0 -1px 0px 0px #e5e5e5;
    margin-top: 1px;
}

menu.mobile_menu_wrapper div.mobile_nav_menu_item a:hover {
    background-color: #fafafa;
}

menu.mobile_menu_wrapper div.mobile_nav_menu_item a.header_link_special {
    color: #52895e;
}
.row .left_footer_section ul {
    display: inline-block;
    width: 32%;
    font-size: 12px;
}

.footer_content_wrapper .row:first-child .left_footer_section {
    float: left;
    width: 66%;
}

.footer_content_wrapper .row:first-child {
overflow: auto;}

.row .left_footer_section ul li.footer_link_list_title p {
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-family: Mercury;
    font-size: 12px;
    color: #484848;
}

.row .left_footer_section ul li a {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .5px;
    color: #110c0e;
}

li.footer_link_list_title {
    padding-bottom: 4px;
}

li.footer_list_link {
    padding-bottom: 4px;
}

icon.mail_icon {
    background-image: url(../assets/img/mail_icon.png);
    background-size: contain;
    width: 19px;
    height: 16px;
    margin-right: 8px;
    top: -2px;
    margin-top: 4px;
    position: relative;
    vertical-align: middle;
    background-repeat: no-repeat;
    display: inline-block;
}

.newsletter_section input[type="text"] {
    background: #f2f2f2;
    box-shadow: none;
    border: 0;
    width: 99%;
    outline: 0;
    font-weight: 300;
    padding: 8px 14px 5px;
    font-size: 13px;
    border-radius: 4px;
}

.right_footer_section {
    width: 32%;
    float: right;
}

.newsletter_section {
    position: relative;
    margin-top: 14px;
}

.newsletter_section input[type="submit"] {
    background: #548860;
    position: absolute;
    border: 0;
    border-radius: 0 3px 3px 0;
    right: 0;
    line-height: 29px;
    outline: 0;
    cursor: pointer;
    top: 0;
    font-weight: 600;
    font-family: Gotham;
    width: 83px;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: .5px;
    bottom: 0px;
    font-size: 10px;
    -webkit-box-shadow: 0px 0px 4px rgba(150,150,150,0.3),0px 2px 2px rgba(255, 255, 255, 0.15) inset,0px -3px 1px rgba(0, 0, 0, 0.07) inset;
    -moz-box-shadow: 0px 0px 4px rgba(150,150,150,0.3),0px 2px 2px rgba(255, 255, 255, 0.15) inset,0px -3px 1px rgba(0, 0, 0, 0.07) inset;
    box-shadow: 0px 0px 4px rgba(150,150,150,0.3),0px 2px 2px rgba(255, 255, 255, 0.15) inset,0px -3px 1px rgba(0, 0, 0, 0.07) inset;
}

.newsletter_section form {
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
}

.global_footer {
    background-color: #fff;
    color: #FFF;
    padding-top: 36px;
    padding-bottom: 14px;
    box-shadow: 0 -1px 1px rgba(179, 179, 179, 0.22);
    background-image: 
    -webkit-linear-gradient(-180deg,#fff 13%,#f2f2f2 100%);
    background-image: 
    -moz-linear-gradient(-180deg,#fff 13%,#f2f2f2 100%);
    background-image: 
    -o-linear-gradient(-180deg,#fff 49%,#f2f2f2 100%);
    background-image: linear-gradient(-180deg,#fff 49%,#f2f2f2 100%);
}

div#primary_page_controller_wrapper.controller_no_margin_top {
    margin-top: 0!important;
}

.right_footer_section h1 {
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-size: 12px;
    color: #110c0e;
    font-family: Mercury;
}

.footer_content_wrapper .row:nth-of-type(2) {
    height: 4px;
    width: 100%;
    background-color: rgba(121, 208, 180, 0.78);
    margin: 18px 0 12px;
    border-radius: 1px;
}

.row.footer_bottom_row p {
    display: inline-block;
    float: left;
    margin-right: 18px;
    color: #110c0e;
    letter-spacing: .5px;
}

.row.footer_bottom_row {
    overflow: auto;
    color: #110c0e;
    font-family: Mercury;
    text-transform: uppercase;
}

.row.footer_bottom_row .footer_bottom_row_left,.row.footer_bottom_row .footer_bottom_row_right {
    font-size: 12px;
    display: inline-block;
}

.row.footer_bottom_row .footer_bottom_row_left {
    float: left;
}

.row.footer_bottom_row .footer_bottom_row_right {
    float: right;
}

.row.footer_bottom_row .footer_bottom_row_left p icon.favorite_icon {}


icon.down_chevron {
    background-image: url(../assets/img/down_chevron.png);
    width: 11px;
    height: 6px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 9px;
}

/*/////////////////////////////////////////////////////////////////*/
/*//////////Responsiveness of header.php & home index.php//////////*/
/*/////////////////////////////////////////////////////////////////*/

.show_on_mobile{
    display: none!important;
    visibility: hidden!important;
}

menu.mobile_menu_wrapper {
    margin: 0;
    display: none;
    visibility: hidden;
    height: 0;
    padding: 0 6px 0 11px;
    overflow: hidden;
    left: 0;
    -webkit-transition: all 300ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -moz-transition: all 300ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -ms-transition: all 300ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -o-transition: all 300ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    transition: all 300ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    position: absolute;
    right: 0;
    top: 136px;
    width: 100%;
    background-color: #FFFFFF;
}

@media only screen and (max-width: 1050px){
    body .show_on_mobile_1050{
        display: block!important;
        visibility: visible!important;
    }
    
    body .hide_on_mobile_1050{
        display: none!important;
        visibility: hidden!important;
    }
}

@media only screen and (max-width: 890px)  {
    body .show_on_mobile_890{
        display: block!important;
        visibility: visible!important;
    }
    .central_hero_title p.mercury{
    color: rgba(17, 12, 14, 0.73);
}
    
    body .hide_on_mobile_890{
        display: none!important;
        visibility: hidden!important;
    }
    .hero_third_right.hero_third{
        width: 100%;
        background-image: url(../assets/img/agd_mobile_home_hero.png);
    }
}

@media only screen and (max-width:790px){
    .collections_boxes > div > a > div.collections_box{
        width: 50%;
    }
    .tall_boxes_row {height:164px;}
    .home_content_wrapper{
        top:32px;
        padding-top:12px;
    }
    .agd_promises .promise_statements h1{
        font-size: 19px;
        line-height: 32px;
        letter-spacing: .1px;
    }
    icon.big_green_quotation_marks{
        height: 48px;
        width: 45px;
    }
}

@media only screen and (max-width: 740px)  {
    .footer_content_wrapper .row:first-child .left_footer_section{
    float: none;
    width: 100%;
    margin: 0 auto;
    max-width: 500px;
    margin-bottom: 24px;
    text-align: center;
}
    .footer_content_wrapper .right_footer_section{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    float: none;
    display: block;
    text-align: center;
}
    .row.footer_bottom_row .footer_bottom_row_left a{
    display: block;
    text-align: center;
}
    .footer_content_wrapper .row:nth-of-type(2){}
    .row.footer_bottom_row .footer_bottom_row_right{
    float: none;
    text-align: center;
    display: block;
}
    .row.footer_bottom_row .footer_bottom_row_left{
    float: none;
    width: 100%;
    display: block;
}
    .row.footer_bottom_row p{
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}
}

@media only screen and (max-width: 690px)  {
    div#primary_page_controller_wrapper{
        margin-top:0!important;
    }
    .global_header{
        position:relative!important;
    }
    body .show_on_mobile_690{
        display: block!important;
        visibility: visible!important;
    }
    .desktop_nav_link_special{
        text-align: right!important;
    }
    body .home_content_wrapper > .width_50{
        width: 100%;
        padding:0 24px!important;
        margin-bottom:24px;
    }
    body .home_content_wrapper > .vertical_separator{
        display:none;
    }
    .desktop_nav_link_special a{
    text-align: right!important;
    padding-top: 8px!important;
}
    body .hide_on_mobile_690{
        display: none!important;
        visibility: hidden!important;
    }
    .global_header .header_row.header_nav_link_row li.search_header_wrapper{
        top:5px;
        width:240px;
    }
}

@media only screen and (max-width: 590px){
    .global_footer .newsletter_section{
        max-width: 500px;
        margin-left: auto;
        width: 90%;
        margin-right: auto;
        margin-bottom: 18px;
    }
    .row .left_footer_section ul{
    width: 100%;
    margin-bottom: 16px;
}
}

@media only screen and (max-width: 480px){

    .collections_tabs .tabs_wrapper{
        width:90%;
        left:50%;
        margin-left:-45%;
    }
    .collections_tabs .tabs_wrapper .collections_tab p{
        font-size:10px;
    }
    .promotional_banner p{
        font-size: 10px;
    }
    .collections_boxes > div > a > div.collections_box{
        width: 100%;
    }
    .tall_boxes_row, .short_boxes_row {height:150px;}

    body .show_on_mobile_480{
        display: block!important;
        visibility: visible!important;
    }

    body .hide_on_mobile_480{
        display: none!important;
        visibility: hidden!important;
    }
}

.hide_mobile_menu{
    display:none;
}

.show_mobile_menu, .hide_mobile_menu{
    height: 30px;
    width: 45px;
    border: 2px solid #80D592;
    margin-bottom: 9px;
    border-radius: 4px;
    margin-top: 5px;
    background-color: #110c0e;
    margin-left: 4px;
    cursor: pointer;
}

.show_mobile_menu svg rect, .hide_mobile_menu svg path {
    fill: #80D592;
    stroke-width: 0.2px;
    stroke: #80D592;
}

.show_mobile_menu svg, .hide_mobile_menu svg {
    width: 25px;
    margin: 6px 8px;
    height: 13px;
}

.hide_mobile_menu svg path {
    stroke-width: 2px;
}

menu.mobile_menu_wrapper.mobile_menu_show {
    height: auto;
}

menu.mobile_menu_wrapper div.mobile_nav_menu_item {
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    border-top: 1px solid #f2f2f2;
    text-transform: uppercase;
    border-bottom: 1px solid #e5e5e5;
    letter-spacing: .7px;
    text-align: center;
}

menu.mobile_menu_wrapper div.mobile_nav_menu_item:last-child {
    padding-bottom: 12px;
}

.mobile_nav_menu_item {}

menu.mobile_menu_wrapper div.mobile_nav_menu_item a {
    display: block;
    cursor: pointer;
    padding: 10px 1px 7px 1px;
    text-decoration: none;
    color: #110c0e;
}

.central_hero_title.mobile_central_hero_title {
    position: absolute;
    bottom: 0;
    height: 333px;
    top: auto;
    transform: none;
    left: 0;
    text-align: center;
    right: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.57);
}

.product_rollover_card{
    background:transparent;
    z-index: 100;
    border:1px solid #110c0e;
    overflow: hidden;
    border-color:transparent;
    height:0;
    width:0;
    position:absolute;
    opacity:0;
    -webkit-transition: opacity 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -moz-transition: opacity 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -ms-transition: opacity 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -o-transition: opacity 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    transition: opacity 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
}

.product_rollover_card.active_rollover_card{
    opacity:1;
    background:#FFFFFF;
    border-color:#110c0e;
    min-width:420px;
    min-height:120px;
}

.row.footer_bottom_row .footer_bottom_row_left a {
    margin-right: 12px;
    color: rgba(75, 175, 143, 0.78);
    font-weight: bold;
    text-shadow: none;
    font-size: 13px;
    letter-spacing: 1px;
}

/* ======= SHOPPING BAG MENU =========*/
#full_page_header_dark_overlay{
    -webkit-transition: opacity 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: opacity 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    width: 100vw;
    height:100vh;
    background-color: rgba(0,0,0,.7);
    display: none;
    opacity:0;
    z-index: 10000;
}

.shopping_bag_menu_wrapper{
    position: absolute;
    opacity: 0;
    z-index: 100000;
    padding-right: 20px;
    padding-left:20px;
    padding-top:20px;
    display: none;
}

#show_shopping_bag_dropdown.bag_link_active p{
    color:#FFFFFF;
    display: inline-block;
}

a#show_shopping_bag_dropdown.bag_link_active icon{
    background-image: url(../assets/img/white_down_arrow.png);
}

.shopping_bag_menu_box {
    min-height: 180px;
    height: auto;
    position: relative;
    width: 360px;
    background: #fff;
    padding: 3px 12px;
    border: 1px solid #110c0e;
}
.shopping_bag_menu_box:after, .shopping_bag_menu_box:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.shopping_bag_menu_box:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 9px;
    margin-left: -9px;
}
.shopping_bag_menu_box:before {
    border-color: rgba(17, 12, 14, 0);
    border-bottom-color: #110c0e;
    border-width: 10px;
    margin-left: -10px;
}

.shopping_bag_menu_box h2 {
    text-align: center;
    font-weight: 100;
    font-size: 14px;
    margin: 0 90px;
    padding-top: 2px;
    padding-bottom: 0px;
}

.shopping_bag_menu_box h1 {
    text-align: center;
    font-weight: 100;
    font-size: 18px;
    padding-top: 0;
    letter-spacing: .4px;
    padding-bottom: 6px;
    display: block;
    margin: 0 auto;
    color: #110c0e;
}

ul.bag_menu_items_list li > div {
    width: 80px;
    height: 80px;
    background-size: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 8px;
}

ul.bag_menu_items_list li {
    text-align: left;
}

ul.bag_menu_items_list li p {
    font-size: 12px;
    text-align: center;
    line-height: 12px;
    font-weight: 400;
    letter-spacing: .3px;
    text-transform: capitalize;
    padding-bottom: 1px;
}

a.checkout_btn {
    background-color: rgba(121, 208, 180, 0.78);
    height: 39px;
    width: 100%;
    display: block;
    font-weight: 500;
    text-decoration: none;
    line-height: 31px;
    min-width: 240px;
    font-family: Gotham;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 5px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 1px;
    color: #FFFFFF!important;
    font-size: 16px;
    max-width: 330px;
    margin-top: 6px;
    -webkit-transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -moz-transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -ms-transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -o-transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    border-top-color: rgb(149, 230, 204);
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 1px;
    border-bottom-color: rgba(0, 0, 0, 0.12);
    border: 1px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0 1px 1px 0px rgba(229, 229, 229, 0.8);
}

a.checkout_btn:hover{
        background-color: rgba(121, 208, 180, 0.94);
    border-top-color: rgba(132, 132, 132, 0.08);
    border-bottom-color: rgba(0, 0, 0, 0.22);
    box-shadow: 0 1px 1px 0px #e5e5e5;
}

a.checkout_btn:active{
    background-color: rgba(77, 144, 122, 0.94);
    border-top-color: rgba(103, 103, 103, 0.08);
    border-bottom-color: rgba(173, 173, 173, 0.22);
    box-shadow: 0 2px 0px 0px rgba(0, 0, 0, 0.12) inset;
    color: rgba(255, 255, 255, 0.67);
}

.shopping_bag_menu_box > p {
    text-align: center;
    font-size: 9.5px;
    letter-spacing: .3px;
    font-weight: 100;
    line-height: 12px;
}

ul.bag_menu_items_list {
    padding: 10px 0 16px;
}

ul.bag_menu_items_list li span {
    text-align: center;
    display: block;
    line-height: 21px;
    letter-spacing: .4px;
    font-size: 14.5px;
}

span.horiz_bag_separator {
    width: 120px;
    display: block;
    margin: 0 auto;
    background: #babbbf;
    margin-bottom: 12px;
    height: 1px;
}

.shopping_bag_menu_wrapper li p {
    font-weight: 600;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: .7px;
}

.shopping_bag_menu_wrapper > li {
    list-style: none;
    width: 113px;
    padding-bottom: 6px;
    margin: 0 auto;
}

.header_row #show_shopping_bag_dropdown.bag_link_active {
    opacity: 0;
}

a.bag_link_active p{
    color:#FFFFFF;
    display: inline-block;
}
.hide_shopping_bag_inner_btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.hide_shopping_bag_inner_btn svg path{
    fill: #110c0e;
}
.hide_shopping_bag_inner_btn svg{
    width: 19px;
    height: 19px;
}

a.bag_link_active icon{
     background-image: url(../assets/img/white_down_arrow.png);   
}