@font-face {
    font-family: 'Interstate-RegularItalic';
    src: url('../assets/fonts/Interstate-RegularItalic.woff2') format('woff2'),
        url('../assets/fonts/Interstate-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Interstate';
    src: url('../assets/fonts/Interstate-ExtraLight.woff2') format('woff2'),
        url('../assets/fonts/Interstate-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Interstate';
    src: url('../assets/fonts/Interstate-Regular.woff2') format('woff2'),
        url('../assets/fonts/Interstate-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Interstate LightCondensed';
    src: url('../assets/fonts/Interstate-LightCondensed.woff2') format('woff2'),
        url('../assets/fonts/Interstate-LightCondensed.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Interstate';
    src: url('../assets/fonts/Interstate-Black.woff2') format('woff2'),
        url('../assets/fonts/Interstate-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Interstate';
    src: url('../assets/fonts/Interstate-LightItalic.woff2') format('woff2'),
        url('../assets/fonts/Interstate-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Interstate';
    src: url('../assets/fonts/Interstate-Light.woff2') format('woff2'),
        url('../assets/fonts/Interstate-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}




body {
    font-family: 'Interstate', sans-serif;
    /*font-family: 'Montserrat', sans-serif;*/
    margin: 0;
    font-weight: normal;
    color: #002d72;
    position: absolute;
    top: 0;
}

.home_index {
  overflow: hidden;
}

/*  =============  GENERAL  ==============  */

.white {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: white;
  top: 0;
  z-index: 105;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  z-index: 2;
}

header .cab {
  position: absolute;
  width: 78px;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}

header .menu, p.banner, .main_menu .close {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 50px 60px;
  text-align: center;
  font-size: 68px;
  color: white;
  margin: 0;
  background-color: #004785;
  font-weight: 300;
}

header .menu {
  -webkit-animation: expand 4s infinite ease-in-out;
}

@-webkit-keyframes expand {
  0%, 50%  { width:  186px; }
    
  10%, 40% { width:  340px; }
}

header .menu.open {
  transform: translateX(500px);
  transition: transform 2s;
}

.main_menu {
  display: none;
  position: initial;
  /*height: 1920px;*/
  z-index: 5;
}

.main_menu .close {
  background-color: #890c58;
  right: auto;
  left: 0;
}

p.banner {
  font-size: 65px;
  padding: 60px 20px;
  right: auto;
  left: 0;
  top: 0;
  bottom: auto;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  transform: rotate(180deg);
}



/*  =============  CITI  ==============  */
.welcome {
  position: absolute;
  top: 50px;
  padding-left: 100px;
  width: 700px;
}

.welcome p {
  font-size: 42px;
  font-weight: 300;
  margin-bottom: 15px;
  margin-top: 15px;
}

.welcome p.date {
  font-size: 160px;
  margin: 0;
  line-height: .9;
}

.welcome p.date:nth-child(2) {
  color: #007377;
}

.welcome p.date:nth-child(3) {
  color: #00b0b9;
  font-size: 203px;
}

.homepage video {
  width: 1080px;
  margin-top: 660px;
  display: none;
}

.homepage .active_vid {
  display: block;
}

.background {
  position: absolute;
  width: 1080px;
  left: 0;
  height: 1920px; 
  top: 0;
  z-index: -2;
  opacity: .5;
}

.img_line {
  width: 880px;
  position: absolute;
  right: 50px;
  top: 300px;
}

.links {
  position: absolute;
  top: 365px;
  left: 426px;
}

.links a {
  font-weight: 300;
  color: #004785;
  font-size: 58px;
  margin-bottom: 61px;
  display: block;
  text-decoration: none;
  position: relative;
}

.links a:before {
  content: '';
  width: 50px;
  height: 50px;
  background: red;
  position: absolute;
  left: -150px;
  border-radius: 100%;
  top: 10px;
}

.links a:nth-child(1):before {
  background-color: #c99700;
}

.links a:nth-child(2):before {
  background-color: #00bdf2;
}

.links a:nth-child(3):before {
  background-color: #00b0b9;video
}

.links a:nth-child(4):before {
  background-color: #84bd00;
}

.links a:nth-child(5):before {
  background-color: #c4d600;
}

.links a:nth-child(6):before {
  background-color: #ffcd00;
}

.links a:nth-child(7):before {
  background-color: #ed8b00;
}

.links a:nth-child(8):before {
  background-color: #c6007e;
}

.links a:nth-child(9):before {
  background-color: #6b3077;
}

.inner_page .links p {
  font-size: 30px;
  width: 630px;
}

.inner_page .links li {
  font-size: 30px;
  width: 600px;
  margin-bottom: 24px;
}

.inner_page .links span {
  color: #004785;
}


.inner_page .img_line {
  width: 1013px;
  top: 150px;
}

.inner_page .links {
  top: 165px;
  left: 321px;
}

.anim {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: -1;
}

.anim .circle {
  display: none;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  transition: transform .7s;
}

.anim .anim_banner {
  display: none;
  position: absolute;
  color: white;
  padding: 60px 20px;
  font-size: 65px;
  margin: 0;
  font-weight: 300;
}

#video {
  position: absolute;
}

.countdowner {
  display: none;
}

.survey_count {
  position: absolute;
  left: -156px;
}

.question {
  margin-bottom: 50px;
  transition: padding .5s;
}

.questions .survey {
  display: none;
}

.questions .survey:first-child {
  display: block;
}

.answer p {
  position: relative;
  margin-bottom: 30px;
    transition: background .3s, padding .3s, color .3s;
}

.answer .answer_btn {
  position: absolute;
  left: -150px;
  margin: 0;
  background: yellow;
  width: 60px !important;
  height: 60px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -6px;
  color: white;
}

.answer p.chosen {
  padding: 10px 20px;
  color: white;
}

.answer:nth-child(1) .answer_btn {
  background: #c99700;
}

.answer:nth-child(2) .answer_btn {
  background: #00bdf2;
}

.answer:nth-child(3) .answer_btn {
  background: #00b0b9;
}

.answer:nth-child(4) .answer_btn {
  background: #84bd00;
}

.answer:nth-child(5) .answer_btn {
  background: #c4d600;
}

.answer:nth-child(6) .answer_btn {
  background: #ffcd00;
}

.answer:nth-child(7) .answer_btn {
  background: #ed8b00;
}

.answer:nth-child(8) .answer_btn {
  background: #c6007e;
}

.answer:nth-child(9) .answer_btn {
  background: #6b3077;
}

.answer:nth-child(10) .answer_btn {
  background: #007377;
}

.answer:nth-child(11) .answer_btn {
  background: #c99700;
}

.survey .button {
  background: #004587;
  border: none;
  left: 0;
  width: 100%;
  margin-top: 80px;
}

.complete {
  font-size: 60px !important;
  display: none;
}


.popup {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.popup .close {
  color: white;
  z-index: 10;
  padding: 50px;
  font-size: 88px;
  font-weight: 300;
}

.off_click {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.popup .slick-slide {
  display: block;
}

.popup img {
  width: 800px !important;
  height: auto;
  position: relative;
  z-index: 11;
}

textarea {
  width: 84%;
  height: 700px;
  padding: 50px;
  font-size: 26px;
}

.push {
  padding-top: 230px;
}

/**/